 <!DOCTYPE html>
 <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
 <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
 <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
 <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
 <head>
 	<title>{{ site.name }} - {{ site.description }}</title>
 	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 	<meta http-equiv="content-language" content="en-gb" />
 	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{site.name}} - {{site.description}}">
    <meta property="og:url" content="http://{{site.url}}{{page.url}}">
    <meta property="og:image" content="http://{{site.url}}/assets/img/{{page.image}}">
    <link rel="stylesheet" type="text/scss" href="{{ site.baseurl }}/css/main.css" />
    <link rel="stylesheet" type="text/scss" href="{{ site.baseurl }}/css/syntax.css" />
    <link href="atom.xml" type="application/atom+xml" rel="alternate" title="Site ATOM Feed">
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/assets/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/assets/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/icons/apple-touch-icon-76x76.png">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/icons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-square70x70logo" content="{{site.baseurl}}/assets/icons/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="{{site.baseurl}}/assets/icons/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="{{site.baseurl}}/assets/icons/mstile-310x150.png">
</head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=203736436416762&version=v2.0";
     fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));</script>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="off-canvas">
        	<div id="bio">
        		<h1>by {{ site.author }}.</h1>
        		<p> Here's an <a class="no-animation" href="{% post_url 2014-08-07-im-starting-a-blog %}">explanation</a>.</p>
                <p> Feel free to share anything you see here, and to give me all kinds of feedback.</p>
            </div>

            <div id="mailchimp">
            <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="//errati.us9.list-manage.com/subscribe/post?u=935082ad5bc8491ec75312bce&amp;id=79bdd1b2b7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Get an e-mail every time I write a new post:</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_935082ad5bc8491ec75312bce_79bdd1b2b7" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
</div>

<!--End mc_embed_signup-->
            <div id="social-media">
                <a class="no-animation" href="mailto:{{site.email}}"><span class="icon-mail"></span></a>
                <a class="no-animation" href="{{site.facebook}}"><span class="icon-facebook"></span></a>
                <a class="no-animation" href="{{site.github}}"><span class="icon-github"></span></a>
                <a class="no-animation" href="{{site.instagram}}"><span class="icon-instagram"></span></a>
                <a class="no-animation" href="{{site.linkedin}}"><span class="icon-linkedin"></span></a>
                <a class="no-animation" href="{{site.twitter}}"><span class="icon-twitter"></a>
            </div>
        </div>
        <div id="site-wrapper">
        	<div id="not-footer">
               <header>
                  <div class="h-wrap">
                     <h1 class="title"><a href="/" title="Back Home">{{ site.name }}</a></h1>
                     <img src="{{ site.baseurl}}/assets/img/selfie.png" id="selfie">
                     <a class="menu-icon no-animation" title="Open Bio"><span class="lines"></span></a>
                 </div>
             </header>
             <div id="slider">
               <main>
                  {{ content }}
              </main>
          </div>

          <footer>
              <small>Powered by <a class="no-animation" href="http://jekyllrb.com/">Jekyll</a>, based on <a class="no-animation" href="https://github.com/m3xm/hikari-for-Jekyll">hikari</a>, made by {{ site.author }}</small>
          </footer>

          <script src="{{ site.baseurl }}/js/main.js"></script>
          <script src="{{ site.baseurl}}/js/jquery-2.1.1.min.js"></script>
          <script src="{{ site.baseurl}}/js/jquery-ui.min.js"></script>
          <script src="{{ site.baseurl}}/js/animations.js"></script>
          {% comment %} Google Analytics {% endcomment %}
          {% if site.ga_tracking_id and site.ga_domain %}
          <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

             ga('create', '{{ site.ga_tracking_id }}', '{{ site.ga_domain }}');
             ga('send', 'pageview');
         </script>
         {% endif %}
     </div>
 </div>
</body>
</html>
