---
layout: default
---
<div class="image-wrap">
<img class="post-image" src="{{site.baseurl}}/assets/img/{{page.image}}">
<small class="image-source">via {{ page.imagesource }}</small>
</div>
<section id="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="feat">
      <h5 class="page-date">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date_to_long_string }}
        </time>
      </h5>
    </div>
    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="text-wrap" itemprop="articleBody">
      {{ content }}
    </div>
    <div id="share" class="feat">
      <a href="http://www.facebook.com/share.php?u={{ site.baseurl }}/{{page.url}}&title={{page.title}}" class="popup">  <span class="icon-facebook"></span>
      </a>
      <a href="http://twitter.com/share" class="popup">
        <span class="icon-twitter"></span>
      </a>
    </div>
    {% if page.next %}
      <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}?next" id="next">
        <span class="nav-title nav-title-next">newer</span> &rarr;
      </a>
    {% endif %}
    {% if page.previous %}
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}?prev" id="prev">
        &larr; <span class="nav-title nav-title-prev">older</span>
      </a>
    {% endif %}
  </article>
</section>
